<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Lista książek</title>
    <link rel="stylesheet" th:href="@{/static/application.css}" href="/static/application.css" />
</head>
<body>
	<header id="menubar">
		<a href="/workshop/home">Strona główna</a>
		<a href="/workshop/books">Książki</a>
	</header>
	<div id="content">
		<table>
			<th>Id</th>
			<th>Tytuł</th>
			<th>Autorzy</th>
			<th>Akcja</th>
		    <tr border="1" th:each="book : ${books}">
		    	<td><p th:text="${book.id}">id</p></td>
		    	<td><p th:text="${book.title}">title</p></td>
		    	<td><p th:text="${book.authors}">authors</p></td>
		    	<td>
		    		<form th:action="@{/delete-book/} + ${book.id}" method="post">
		    			<input type="hidden" th:value="${book.id}"/>
		    			<button type="submit">Usuń</button>
		    		</form>
		    	</td>
		    </tr>
	    </table>
	</div>
</body>
</html>