.sample {
    color: red;
}

table {
	margin: auto;
	border-collapse: collapse;
	font-family: Arial;
}

tr:nth-child(even) { background: #67C790 }
tr:nth-child(odd) { background: #77C780 }

th {
	background: #00C377;
}

th, td {
	border: 1px solid black;
	padding: 15px;
	text-align: center;
}

html, body, #a {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: #00C700;
}

#a {
	display: table;
}

#b {
	display: table-cell;
	margin: 0;
	padding: 2px;
	
	text-align: center;
	vertical-align: middle;
}

#content {
	border: 1px solid #000000;
	padding: 5px;
	margin: auto;
	width: 500px;
	vertical-align: middle;
	background-color: #00C377;
	font-family: Arial;
}

a.button {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	
	text-decoration: none;
	color: initial;
	border: 5px solid;
}